.simple-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.simple-layout-content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}