.simple-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.simple-layout-navbar {
  height: 6.25rem;
  flex-shrink: 0;
  background-color: #2a323c;
}

.simple-layout-content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}