@reference "tailwindcss";

/* Base state: No transition, so it resets to 0 instantly */
.logo-base {
  transform: rotate(0deg);
}

/* Active state: Smoothly rotates to 360 */
.logo-spin {
  transform: rotate(360deg);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shooting-star-html {
  /* Vytvorenie chvosta hviezdy pomocou gradientu pozadia */
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  will-change: transform, opacity;
  animation: fly-star-html 6s linear infinite;
}

@keyframes fly-star-html {
  0% {
    transform: translate(0, 0) rotate(4deg);
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  20% {
    /* Preletí 2200px doprava a klesne o 15px */
    transform: translate(2200px, 15px) rotate(4deg);
    opacity: 0;
  }
  100% {
    /* Zvyšok 10s intervalu čaká */
    transform: translate(2200px, 15px) rotate(4deg);
    opacity: 0;
  }
}
