<div class="h-screen w-full flex flex-col overflow-hidden">

  <app-navbar class="z-50 shrink-0"></app-navbar>

  <div id="main-scroll-area" class="flex-1 overflow-y-auto overscroll-y-contain flex flex-col bg-base-200">

    @if (showBanner()) {
      <app-banner></app-banner>
    }

    <app-filter-bar></app-filter-bar>

    <div class="flex flex-col md:flex-row flex-grow relative">

      <aside
        class="border-base-300 bg-base-100 sticky top-0 shrink-0 z-30 transition-all duration-300 ease-in-out"
        [ngClass]="showFilter() ? 'w-full md:w-72 h-[calc(100vh-64px)] p-6 border-r' : 'w-0 h-0 md:h-[calc(100vh-64px)] p-0 opacity-0 pointer-events-none'"
      >
        <app-filter></app-filter>
      </aside>

      <main class="flex-grow p-4 md:p-6 min-w-0">
        <router-outlet></router-outlet>
        <app-toast />
      </main>

    </div>

    <app-footer></app-footer>

  </div>

  <app-scroll-btn />
</div>
