<div class="h-screen w-full flex flex-col overflow-hidden">

  <app-navbar class="z-50 shrink-0 w-full max-w-full"></app-navbar>

  <div id="main-scroll-area"
       class="relative flex-1 overflow-y-auto overflow-x-hidden overscroll-y-contain flex flex-col min-w-0">

    @if (showBanner()) {
      <app-banner></app-banner>
    }

    @if (showLoader()) {
        <app-progress [showLoader]="showLoader()"></app-progress>
    }

    <div class="flex flex-col md:flex-row flex-grow relative">

      <aside
        class="border-base-300 border-r bg-base-100/60 backdrop-blur-md sticky top-0 shrink-0 z-30 transition-all duration-300 ease-in-out p-6 flex flex-col gap-4 h-[calc(100vh-64px)]"
        [ngClass]="showFilter() ? 'w-full md:w-72' : 'w-full md:w-[80px] px-3'"
      >
        @if (showFilter()) {
          <button
            type="button"
            (click)="config.toggleFlag('SHOW_FILTER')"
            class="btn btn-circle btn-ghost btn-sm absolute top-0 left-1/2 hidden md:flex items-center justify-center shadow-md"
          >
            <svg lucideListCollapse size="12"></svg>
          </button>
        }
        <app-filter [isCollapsed]="!showFilter()"></app-filter>
      </aside>

      <main class="flex-grow p-4 md:p-6 min-w-0">
        <router-outlet></router-outlet>
        <app-toast />
      </main>

    </div>

    <app-footer></app-footer>
  </div>

  <app-scroll-btn />
</div>
