<div class="main-layout">
  <app-progress-bar></app-progress-bar>
  <app-navbar></app-navbar>

  <mat-sidenav-container class="main-layout-sidenav">
    <mat-sidenav mode="side" opened class="main-layout-sidebar">
      <app-filter></app-filter>
    </mat-sidenav>

    <mat-sidenav-content class="main-layout-content">
      <main class="main-layout-page">
        <router-outlet></router-outlet>
        <app-toast />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>
</div>