<div class="container mx-auto">
  <div class="flex flex-col lg:flex-row gap-8">

    <section class="flex-grow shopping-list">
      <div class="card bg-base-100 shadow-xl border border-base-200">
        <div class="card-body p-2 sm:p-6">

          <div class="flex justify-between items-center mb-4">
            <h2 class="card-title text-2xl m-0">Tvoj košík</h2>
            @if (hasSomeItems()) {
              <button
                appRedFocus
                title="clear-btn"
                class="btn btn-outline btn-error btn-sm"
                (click)="handleClearCart()">
                Vyprázdniť košík
              </button>
            } @else {
              <button
                appRedFocus
                routerLink="/"
                class="btn font-bold btn-soft btn-primary"
              >
                Späť na zoznam
              </button>
            }
          </div>

          <div class="space-y-4">
            @for (item of items(); track item.product.id) {
              <div class="flex items-center justify-between gap-2 bg-base-100">
                <div class="flex-grow min-w-0">
                  <a [routerLink]="['/product', item.product.id]"
                     class="font-semibold truncate text-sm hover:underline hover:text-blue-600">
                    {{ item.product.name }}</a>

                  <div class="flex items-center gap-2">
                    <p class="text-xs font-bold text-primary">
                      {{ (item.product.price * (1 - item.product.discount)) | currency:'EUR' }}
                    </p>

                    @if (item.product.discount > 0) {
                      <p class="text-[10px] line-through opacity-50">
                        {{ item.product.price | currency:'EUR' }}
                      </p>
                    }
                  </div>

                  <p class="text-[10px] text-base-content/70">{{ item.product.availableCount }} na sklade</p>
                </div>

                <div class="flex items-center gap-1">
                  <div class="join">
                    <button
                      appRedFocus
                      class="btn btn-xs join-item"
                      (click)="handleUpdateMinus(item)"
                      title="minus-btn">-
                    </button>
                    <button class="btn btn-xs join-item no-animation cursor-default">{{ item.quantity }}</button>
                    <button
                      appRedFocus
                      class="btn btn-xs join-item"
                      (click)="handleUpdatePlus(item)"
                      [disabled]="item.quantity >= item.product.availableCount"
                      title="plus-btn">+
                    </button>
                  </div>
                  <button
                    appRedFocus
                    class="btn btn-ghost btn-xs text-error"
                    title="remove-btn"
                    (click)="handleRemoveItem(item)">
                    <svg lucideTrash2></svg>
                  </button>
                </div>
              </div>
            } @empty {
              <div class="py-10 text-center">
                <div class="text-5xl mb-4">🛒</div>
                <p class="text-base-content/60 italic mb-6">Empty cart</p>
              </div>
            }
          </div>

          <div class="space-y-4">
            @if (hasSomeItems()) {
              <div class="divider my-4"></div>

              <div class="space-y-3 w-full ml-auto">

                @if (cartStore.totalSavings() > 0) {
                  <div class="flex justify-between items-center text-sm text-success">
                    <span>Ušetríte:</span>
                    <span>-{{ cartStore.totalSavings() | currency:'EUR':'symbol':'1.2-2':'sk-SK' }}</span>
                  </div>
                }

                <!-- Cena bez DPH -->
                <div class="flex justify-between items-center gap-8 text-base">
                  <span class="text-base-content/70">Cena</span>
                  <span class="font-bold">{{ cartStore.subtotal() | currency:'EUR':'symbol':'1.2-2':'sk-SK' }}</span>
                </div>

                <!-- DPH -->
                <div class="flex justify-between items-center gap-8 text-base">
                  <span class="text-base-content/70">VAT (5%)</span>
                  <span class="font-bold">{{ cartStore.tax() | currency:'EUR':'symbol':'1.2-2':'sk-SK' }}</span>
                </div>

                <!-- Celková suma -->
                <div class="flex justify-between items-center gap-8 font-bold text-2xl mt-4 text-primary">
                  <span>Spolu</span>
                  <span>{{ cartStore.grandTotal() | currency:'EUR':'symbol':'1.2-2':'sk-SK' }}</span>
                </div>

              </div>

              <div class="flex flex-col sm:flex-row gap-4 mt-4">
                <button
                  appRedFocus
                  class="btn btn-sm btn-secondary uppercase tracking-widest shadow-lg"
                  routerLink="/">
                  Pokračovať v nákupe
                </button>
                <button
                  appRedFocus
                  class="btn btn-sm btn-success uppercase tracking-widest shadow-lg"
                  (click)="handleCheckout()">
                  Objednať & Zaplatiť
                </button>
              </div>
            }
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
